<div class="container-fluid">
  <legend>
    <fieldset>
      <h1>Scriptures</h1>
      <form (ngSubmit)="onSubmit()" #quoteForm="ngForm">
        <div class="form-group">
          <label for="author">Author:</label>
          <input type="text" class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author="ngModel" required>
          <div [hidden]="!author.valid || !author.pristine" class="alert alert-success">
            <p>Author's name is required</p>
          </div>
        </div>
        <div class="form-group">
          <label for="quote">Quote</label>
          <input type="text" class="form-control" id="quote" [(ngModel)]="newQuote.quote" name='quote' #quote="ngModel" required>
          <div [hidden]="!quote.valid || !quote.pristine" class="alert alert-success">
            <p>Quote is required</p>
          </div>
        </div>
        <div class="form-group">
          <label for="publisher">Enter your name:</label>
          <input type="text" class="form-control" id="publisher" [(ngModel)]="newQuote.publisher" name='publisher' #publisher="ngModel" required>
          <div [hidden]="!publisher.valid || !publisher.pristine" class="alert alert-success">
            <p>Quote is required</p>
          </div>
        </div>
        <button [disabled]="!quoteForm.form.valid" type="submit" class="btn btn-success">Add quote</button>
      </form>
    </fieldset>
  </legend>
</div>
